@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

html {
    body {
        font-family: Gluten, Helvetica, Verdana, Sans-Serif;

        margin: 0;

        overflow: hidden;

        img#logo {
            width: 3vw;
            height: 3vw;

            position: absolute;
            left: 1vw;
            top: 1vw;

            background-color: #eee;
            
            border: 1px solid #aaa;
            border-radius: 100%;

            opacity: 13%;
            z-index: 33;
            pointer-events: none;
        }

        canvas#stars {
            width: 75vw;
            height: 100vh;
            
            position: absolute;
            left: 0;
            top: 0;

            background-color: rgb(7, 7, 7);
        }

        div#config {
            width: 25vw;
            height: 100vh;

            position: absolute;
            right: 0;
            top: 0;

            background-color: #eee;

            border-left: 3px dashed #aaa;

            div {
                margin: 1vh 1vw;
            }

            h5 {
                text-align: right;
                
                position: absolute;
                right: 1vw;
                bottom: 3vh;
            }

            h6 {
                text-align: right;

                position: absolute;
                right: 1vw;
                bottom: 1vh;
            }
        }
    }
}